body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container .header a {
    margin-left: 310px;
    font-size: 14px;
    text-decoration: none;
    color: #474747;
    padding: 6px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #bdbdbd;
}

.dashboard-container .header a:hover {
    border-color: black;
    color: black;
}

.dashboard-container h3 {
    margin-top: 20px;
}

.add-note-link {
    display: block;
    margin-top: 20px;
    text-align: left;
}

.add-note-link a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-note-link a:hover {
    background-color: #0056b3;
}

.note {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #007BFF;
    border-radius: 5px;

}

.note h2 {
    margin-top: 0;
    font-size: 1.3em;
    inline-size: 710px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.note small {
    font-size: 12px;
    display: block;
    margin-top: 4px;
    color: #555;
}

.note p {
    margin: 0;
    inline-size: 710px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.note .created-at {
    margin-top: 10px;
}

.note .category {
    margin-top: -16px;
    margin-bottom: 10px;
}

.note-actions {
    margin-top: -20px;
    display: block;
    text-align: right;
}

.note-actions a {
    font-size: 14px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.note-actions .edit {
    color: #0f754e;
    border: 1px solid;
    border-color: #c4c4c4;
}

.note-actions .edit:hover {
    color: white;
    background-color: #0f754e;
    border-color: #0f754e;
}

.note-actions .delete {
    color: #991501;
    border: 1px solid;
    border-color: #991501;
}

.note-actions .delete:hover {
    color: white;
    background-color: #991501;
    border-color: #991501;
}